
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Garage Door Opener</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <style>
    #main-button
    {
        margin-top:200px;
        display:block;
        width:100%;
        height:100px;

    }
    </style>

    {% block body %}
    <div class="container">
        <div class="col-md-12">
        <button type="button" id="main-button" class="btn btn-primary">Activate</button>
        </div>
    </div>
    {% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <script>
    $( document ).ready(function() {
        $('#main-button').click(function(){
            //disable button until remote ajax call finishes
            $(this).attr("disabled","disabled");
            $.ajax({
                url:"/activate"
            }).done(function() {
                $('#main-button').removeAttr("disabled");
            });


        });
        
    });

    </script>
  </body>
</html>